/* @import url("reset.css"); */
/* Відключила файл обнулення, щоб було легше читати документ */

/* Селектор класу */
.start,
.page {
    color: darkgreen;
}

/* Селектор тегу */
h1 {
    color: black;
}

h2 {
    color: green;
}

/* Селектор декількох класів,
 вкладеність селектора тегу в селектор класу*/
.start span,
.introduction span,
.democracy span,
.sich span {
    color: red;
}

/* Селектор атрибуту */

[class*="ise"] {
    color: orchid;
}

/* Селектор тегу з класом */
p.important {
    color: navy;
}

/* Селектор класу з селектором класу */
.tradition.text {
    color: chocolate;
}

/* Вкладеність селектора класу в селектор класу */
.tradition .peoples {
    color: black;
}

/* Селектор усіх об'єктів в середині класу */
.democracy * {
    color: black;
}

/*  Селектор тегу, який знаходиться безпосередньо 
далі по коду з тим же рівнем вкладеності */
.biography+p {
    color: gold;
}

/* Селектор тегів першого рівня вкладеності 
в середині класу */
.sich>p {
    color: brown;
}

/* Селектор тегів після об'єкта з класом 
з однаковим рівнем вкладеності */
.church~p {
    color: darkcyan;
}

/* Вкладеність селектора класу в селектор класу */
.summary .important {
    color: red;
}

/* Вкладеність селектора тегу в селектор тегу */
footer a {
    color: orange;
}